<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

        <title>PycoMeth report</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <style>
            .tf {
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            z-index: 99 !important;
            }
        </style>
    </head>
        <body>

    <div class="container">
        <div class="columns">
            <div class="column col-12 col-mx-auto tf">
                <header class="navbar">
                    <section class="navbar-section">
                        <div>
                            <a href="https://a-slide.github.io/pycoMeth/" class="navbar-brand mr-2" target="_blank">PycoMeth</a>
                        <div/>
                        <div>
                            <a href="https://a-slide.github.io/pycoMeth/" class="btn btn-link" target="_blank">Documentation</a>
                        <div/>
                        <div>
                            <a href="https://github.com/a-slide/pycoMeth" class="btn btn-link" target="_blank">GitHub</a>
                        <div/>
                    </section>
                    <section class="navbar-section">
                        <div>
                            <button class="btn btn-link" onclick="location.href='{{ summary_link }}'">
                                <i class="icon icon-arrow-up"></i> Intervals Summary
                            </button>
                        <div/>
                        <div>
                            <button class="btn btn-link" onclick="location.href='{{ previous_link }}'">
                                <i class="icon icon-arrow-left"></i> Previous Interval
                            </button>
                        <div/>
                        <div>
                            <button class="btn btn-link" onclick="location.href='{{ next_link }}'">
                                <i class="icon icon-arrow-right"></i> Next Interval
                            </button>
                        <div/>
                    </section>
                </header>
            </div>
        </div>
        <div class="columns">
            <div class="column col-9 col-mx-auto">
                <div class="text-center">
                    <br>
                    <img src=https://raw.githubusercontent.com/a-slide/pycoMeth/master/docs/pictures/pycoMeth_long.png class="center" alt="" style="max-height: 80px;">
                    <div class="divider"></div>
                    <h4>CpG interval report generated on {{ date }} with pycoMeth {{ version }}</h4>
                    <div class="divider"></div>
                </div>
                <div class="columns">
                    <div id="Interval_details" class="column col-11 col-mx-auto">
                        <h5 style="margin-top: 50px;">Interval details</h5>
                        {{ interval_html }}
                        <div class="divider"></div>
                    </div>
                    <div id="CpG_heatmap" class="column col-11 col-mx-auto">
                        <h5 style="margin-top: 50px;">Methylation log-likelihood ratio by CpG position</h5>
                        {{ heatmap_html }}
                        <div class="divider"></div>
                    </div>
                    <div id="CpG_ridgeplot" class="column col-11 col-mx-auto">
                        <h5 style="margin-top: 50px;">Distribution of CpG methylation log-likelihood ratio by sample</h5>
                        {{ ridgeplot_html }}
                        <div class="divider"></div>
                    </div>
                    <div id="transcript_table" class="column col-11 col-mx-auto">
                        <h5 style="margin-top: 50px;">Closest transcripts TSS</h5>
                        {{ transcript_html }}
                        <div class="divider"></div>
                    </div>
                </div>
                    <div class="text-left">
                        <br>
                        <p>Source file: {{ src_file }} </p>
                        <p> MD5 hash: {{ md5 }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
